.CPriceInput {
    input {
        width: 100%;
        background-color: transparent;
        color: var(--black);
        border: 1px solid var(--gray20);
        height: 40px;
        border-radius: 8px;
        @include common-shadow;
        padding: 0 14px;
    }
}