:root {
  --Light-Mode-Container-Divider: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
}

.section {
  height: 100%;
  max-width: 312px;
  display: flex;

  // position: relative;
  .section::before {
    content: "";
    display: block;
    width: 400px;
    height: 1000px;
    position: absolute;
    // z-index: 99;

    background-color: red;
    // bottom: 100px;
    // opacity: 0.6;
    // background: conic-gradient(
    //   from -41deg at 40.63% 50.41%,
    //   rgba(255, 189, 153, 0) 156.3228964805603deg,
    //   rgba(255, 223, 52, 0.46) 203.70686531066895deg,
    //   rgba(255, 172, 137, 0.7) 216.0206937789917deg,
    //   rgba(255, 124, 52, 0.41) 236.0708713531494deg,
    //   rgba(162, 171, 255, 0.2) 253.93728017807007deg,
    //   rgba(255, 91, 1, 0) 293.38289737701416deg
    // );

    // filter: blur(50px);
  }

  overflow: scroll;
  .title {
    padding: $paddingBlock $paddingBlock 20px $paddingBlock;
    font-weight: 600;
    text-transform: uppercase;
    // background-color: #e10b0b;
  }

  .menu {
    &__link {
      padding: 0 $paddingBlock;
      display: flex;
      align-items: center;
      column-gap: 20px;
      height: 50px;
      cursor: pointer;

      &:last-child {
        margin-bottom: 6px;
      }
    }
  }
}

.customAccordion .MuiPaper-root {
  border-radius: 0 !important;
}

.customAccordion {
  box-shadow: none !important;
  // border-bottom: 1px solid #ccc;

  &.MuiAccordion-root {
    border-radius: 0 !important;
  }

  &.MuiPaper-rounded {
    border-radius: 0 !important;
  }

  &.MuiAccordion-root:before {
    background-color: transparent !important;
  }

  & .MuiAccordionSummary-root {
    border-radius: 0 !important;
  }

  & .MuiAccordionDetails-root {
    border-radius: 0 !important;
  }
}

.menu_link {
  position: relative;
}
