.BackButton {
  width: 25px;
  height: 25px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
  background-color: transparent;
  transition-duration: 0.3s;
  border: 1px solid $main;

  .icon {
    font-size: 19px;
  }

  &:hover {
    border-color: $main;
    color: $main;
  }
}
