.HFInput {
  width: 100%;

  .MuiFormControl-root {
    position: relative;
    width: 100%;
    .MuiInputBase-root {
      border-radius: 8px;
      height: 40px;
      border-radius: 8px;
      border: 1px solid var(--gray20);
      box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.1),
        0px 1px 2px 0px rgba(16, 24, 40, 0.06);

      fieldset {
        border: none;
      }

      &.Mui-focused {
        .MuiOutlinedInput-notchedOutline {
          border: none;
          outline: none;
        }
        outline: 1.5px solid var(--main);
      }

      .Mui-disabled {
        background-color: var(--gray);
      }
    }

    .MuiFormHelperText-root {
      color: var(--error);
      position: absolute;
      bottom: -18px;
      left: -10px;
      font-size: 12px;
    }
    &.error {
      .MuiOutlinedInput-notchedOutline {
        border-color: red !important;
      }
    }
  }

  .visibility {
    position: absolute;
    right: 10px;
    top: 38px;
    cursor: pointer;
  }
}

.HFTextarea {
  width: 100%;
  textarea {
    all: unset;
    word-break: break-all;
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    object-fit: cover;
  }
}
