.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  // overflow: auto;

  .card {
    border: none;
    background-color: white !important;
    border-radius: 10px;
    // background-color: red;
    // max-height: 580px;
    // overflow-y: scroll;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
      position: relative;

      .cardTitle {
        font-weight: 600;
        color: var(--black);
      }

      .closeButton {
        position: absolute;
        &:hover {
          background-color: transparent;
        }
        right: 0;
        svg {
          transition: 0.5s;
        }
        &:hover {
          svg {
            transform: rotate(90deg);
          }
        }
      }
    }

    .footer {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-top: 24px;
      width: 100%;

      .button {
        flex: 1;
      }
    }
  }
}
