.table {
    .body {
        display: flex;
        .row {
            &:first-child {
                border: none;
            }
        }
        .cell {
            display: flex;
            align-items: center;

            input {
                background-color: transparent;
            }
        }
    }
}