.tableDelete {
  display: flex;
  align-items: center;
  gap: 10px;
  .edit,
  .delete,
  .view {
    width: 30px;
    height: 30px;
    @include center-center;
    @include common-shadow;
    border: 1px solid var(--gray30);
    border-radius: 4px;
    cursor: pointer;
    position: relative;

    &:hover {
      transition: 0.3s;
      transform: scale(1.2);
    }
    &.inactive {
      svg {
        fill: var(--gray30);
      }
      &:hover {
        transform: none;
        cursor: no-drop;
      }
    }
  }
}
