.tableDelete {
    display: flex;
    align-items: center;
    gap: 10px;
    .edit, .delete {
        width: 30px;
        height: 30px;
        @include center-center;
        // border: 1px solid $lineGray;
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        &:hover {
            svg {
                transition: 0.3s;
                transform: scale(1.2);
            }
        }
    }
}