.flex {
    display: flex;
    align-items: start;
    gap: 32px;
    padding-block: 20px;

    .title {
        font-size: 14px;
        font-weight: 500;
        color: $black;
        width: 280px;
    }
}