.header {
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid $lineGray;
  background-color: white;
  margin-bottom: 24px;

  &.sticky {
    position: sticky;
    top: 0;
    z-index: 3;
  }

  .title {
    font-size: 24px;
    font-weight: 500;
    width: 230px;
    overflow: hidden;
  }
}
