.calendar {
  .header,
  .body {
    .cell {
      height: 40px;
      border-right: 1px solid var(--lineGray);
      border-top: 1px solid var(--lineGray);
      border-bottom: 1px solid var(--lineGray);
      @include center-center;

      &:nth-child(7n) {
        border-right: 0;
      }
    }
  }
  .header {
    .cell{
      color: var(--gray);
    }
  }
  .body {
    .cell {
      border-top: 0;
      border-bottom: 1px solid var(--lineGray);
      height: 142px;
      @include end-between;
      flex-direction: column;
      padding: 10px 6px;
    }
  }
}
