.rangeDate {
    display: none;
    .MuiStack-root {
        padding: 15px;
        background-color: red !important;

        .MuiDateRangeCalendar-root {
            .MuiDateRangeCalendar-monthContainer {
                background-color: red !important;
            }
        }
    }
}