.rangeDate {
    position: absolute;
    top: 100%;
    right: 25px;
    background-color: white;
    box-shadow: 5px 5px 15px 5px #ddd;
    border-radius: 8px;
    z-index: 91;
    

    .MuiDateRangeCalendar-root {

        &>div:first-child {
            display: none !important;
        }

        .MuiTypography-subtitle1 {
            font-size: 16px;
            font-weight: 600;
        }

        .MuiDayCalendar-weekDayLabel {
            font-size: 14px;
            font-weight: 500;
            color: #344054;
        }

        .Mui-selected {
            background-color: $main !important;
        }

    }
}