.periodPicker {
  position: absolute;
  background-color: white;
  // box-shadow: 5px 5px 15px 5px #ddd;
  border: 1px solid var(--gray20);
  border-radius: 8px;
  z-index: 91;
  left: auto;
  right: 0;
  display: flex;
  flex-direction: column;

  .MuiPickersLayout-contentWrapper {
    // width: 400px;
    padding: 0 20px;
  }
  .MuiDateRangeCalendar-monthContainer {
    border: none;
  }
  .MuiDateRangeCalendar-monthContainer:last-child {
    // display: none;
    // .MuiDayCalendar-root  {
    //  display: none;
    // }
    // .MuiTypography-root {
    //   display: none;
    // }
    // width: 70px !important;
    // margin-left: -30px;
  }


  .MuiDateRangeCalendar-root {
    & > div:first-child {
      display: none !important;
    }
  }
  .topData {
    width: calc(100% - 199px);
    margin-left: auto;
    padding: 10px 16px;
    border-left: 1px solid var(--gray20);
    border-bottom: 1px solid var(--gray20);
  }

  .periodPickerFooter {
    width: calc(100% - 199px);
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 16px;
    border-top: 1px solid var(--gray20);
    border-left: 1px solid var(--gray20);
    margin-top: -38px;

    .btns {
      display: flex;
      column-gap: 16px;
      width: 100%;
    }
  }

  .MuiPickersLayout-root {
    border-radius: 18px !important;
    display: flex;
  }

  .MuiPickersToolbar-root {
    grid-row:unset !important;
    .MuiTypography-root.MuiTypography-overline {
      display: none;
    }
    display: none;
  }

  .MuiPickersLayout-contentWrapper {
    // background-color: red;
    .MuiPickersDay-root {
      &.Mui-selected {
        background-color: var(--main);
      }
    }
  }

  .MuiList-root  {
    width: 220px;
    height: 100% !important;
    max-height: none !important;
    min-height: auto !important;
    grid-column: unset !important;
    grid-row: unset !important; 
    margin-top: -10px;
    border-right: 1px solid var(--gray20);
    .MuiListItem-root {
      background-color: transparent;

      .MuiButtonBase-root {
        background-color: transparent;
        color: var(--gray70);
        font-weight: 500;
        font-size: 14px;
        height: 30px;
        width: 100%;
        border-radius: 8px;
        &:hover {
          background-color: var(--gray20) !important;
        }
      }
    }
  }
}

.PeriodTextField {
  .MuiFormControl-root {
    width: 100%;
    background-color: #fff;
    height: 40px;
    border-radius: 8px;
    border: 1px solid var(--gray20);

    @include common-shadow;
  }
  .MuiInputBase-root {
    width: 100%;
    padding: 0;

    svg {
      display: none;
    }
  }
  fieldset {
    border: none;
    width: 100%;
    background-color: transparent;
  }
  input {
    &::placeholder {
      color: var(--gray60) !important;
    }
    cursor: pointer;
  }
}
