.header {
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  border-bottom: 1px solid var(--gray30);
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: white;
  // &.sticky {
  //   position: sticky;
  //   top: 0;
  //   z-index: 3;
  // }

  .title {
    font-size: 24px;
    font-weight: 500;
    width: 230px;
    overflow: hidden;
  }
}
