.search {
    color: #993701;
    background-color: #FFEFE6;
}

.found {
    color: #B54708;
    background-color: #FFFAEB;
}

.onWay {
    color: #287EFF;
    background-color: #EDF4FF;
}

.done {
    color: #027A48;
    background-color: #ECFDF3;
}

.reject {
    color: #B42318;
    background-color: #FEF3F2;
}

.notFound {
    color: #344054;
    background-color: #F9FAFB;
}