$primary: 'blue';
$lineGray: #E2E2EA;
$lightGray: #F1F1F5;
$lightestGray: #D5D5DC;
$softGray: #FAFAFB;
$main: #DD431F;
$black: #151515;
$gray: #858592;
$darkGray: #92929D;
$darkerGray: #3C4254;
$darkestGray: #696974;
$error: #D92D20;
$green: #0BD976;
$darkerGreen: #0F855B;
$ink: #1C299B;
$danger: #E82F0F;
$pink: #FF35BA;
