input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
input {
  caret-color: $main;

  &:focus {
    outline: none;
  }
}

#cselect-cselect,
#cselect-filter {
  width: 100%;
  .MuiInputBase-root {
    height: 40px;
    border-color: var(--gray30) !important;
    // box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    outline: none;
    width: 100%;
    border-radius: 8px;
    &.Mui-focused {
      .MuiOutlinedInput-notchedOutline {
        border-color: $main;
      }
    }

    input {
      width: 100%;
    }
  }
}
#cselect-filter {
  .MuiInputBase-root {
    height: 40px;
    width: 100%;
  }
}
.MuiPaper-root {
  border-radius: 12px !important;
  ul {
    background-color: white;
    max-height: 300px;
    overflow: scroll;
    .Mui-selected {
      color: $main;
      font-weight: 500;
    }
  }
}

#hfInputMask {
  input {
    background-color: transparent;
    height: 48px;
    width: 100%;
    border: 1px solid $lineGray;
    border-radius: 12px;
    padding: 0 14px;

    &:focus {
      border-color: $main;
    }
  }
}

#SwitchBtn {
  &.checked {
    .MuiSwitch-track {
      background-color: #ff5b01;
      opacity: 1;
    }
  }
  .MuiSwitch-root {
    .MuiSwitch-thumb {
      background-color: white;
      border: 1px solid $lineGray;
      box-shadow: none;
    }
  }
}

.MuiModal-root {
  z-index: 99 !important;
}

#basicDatePicker,
#multiDatePicker {
  width: 100%;
  .rmdp-container {
    width: 100%;
  }
  .MuiInputBase-root {
    height: 48px;
    .MuiOutlinedInput-notchedOutline {
      border-color: $lineGray;
      border-radius: 12px;
    }
  }
  .MuiFormControl-root {
    width: 100%;
  }
  .MuiTextField-root.error {
    .MuiInputBase-root {
      .MuiOutlinedInput-notchedOutline {
        border-color: $error;
      }
    }
  }
  .Mui-focused {
    .MuiOutlinedInput-notchedOutline {
      border-color: $primary;
      border-width: 1px;
    }
  }
  .MuiInputAdornment-root {
    z-index: 9;
    background-color: white;
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: flex-end;
  }
  .sd:hover {
    background-color: white;
    color: $black !important;
  }
}

.MuiButtonBase-root {
  &.Mui-checked {
    color: $main !important;
  }
}

#multiDatePicker {
  .rmdp-day {
    &:hover {
      background-color: red !important;
    }
  }
  .rmdp-day span {
    &:hover {
      background-color: red;
    }
  }
  .rmdp-input {
    background-color: transparent;
    height: 42px;
    border-radius: 10px;
  }
}

.custom-btn, .success-btn, .cancel-btn {
  background-color: $main;
  color: white;
  text-transform: none;
  border-radius: 10px;
  border: 1px solid $lineGray;
  height: 52px;
  padding: 0 18px;
  width: 100%;
  white-space: nowrap;
  font-weight: 500;
}

.success-btn {
  background-color: var(--green);
}

.cancel-btn {
  background-color: $lineGray;
  color: $black;
  text-transform: none;
}

.accordion {
  color: #444;
  cursor: pointer;
  // padding: 18px;
  height: 40px !important;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: background-color 0.6s ease;
}

.accordion-line {
  height: 1px;
  width: 280px;
  background: var(
    --Light-Mode-Container-Divider,
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0) 100%
    )
  );
  transition: height 0.3s ease;
  margin: 0 auto;
}

.common-shadow {
  box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.1),
    0px 1px 2px 0px rgba(16, 24, 40, 0.06);
}


.card-shadow {
  box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.10), 0px 1px 2px 0px rgba(16, 24, 40, 0.06);
}