input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
input {
  caret-color: $main;

  &:focus {
    outline: none;
  }
}

#cselect-cselect,
#cselect-filter {
  width: 100%;
  .MuiInputBase-root {
    height: 48px;
    border-radius: 12px;
    border-color: $lineGray !important;
    outline: none;
    width: 100%;
    &.Mui-focused {
      .MuiOutlinedInput-notchedOutline {
        border-color: $main;
      }
    }

    input {
      width: 100%;
    }
  }
}
#cselect-filter {
  .MuiInputBase-root {
    height: 33px;
    width: 100%;
    border-radius: 8px;
  }
}
.MuiPaper-root {
  border-radius: 12px !important;
  ul {
    background-color: white;
    max-height: 300px;
    overflow: scroll;
    .Mui-selected {
      color: $main;
      font-weight: 500;
    }
  }
}

#hfInputMask {
  input {
    background-color: transparent;
    height: 48px;
    width: 100%;
    border: 1px solid $lineGray;
    border-radius: 12px;
    padding: 0 14px;

    &:focus {
      border-color: $main;
    }
  }
}

#SwitchBtn {
  &.checked {
    .MuiSwitch-track {
      background-color: #ff5b01;
      opacity: 1;
    }
  }
  .MuiSwitch-root {
    .MuiSwitch-thumb {
      background-color: white;
      border: 1px solid $lineGray;
      box-shadow: none;
    }
  }
}

.MuiModal-root {
  z-index: 99 !important;
}

#basicDatePicker,
#multiDatePicker {
  width: 100%;
  .rmdp-container {
    width: 100%;
  }
  .MuiInputBase-root {
    height: 48px;
    .MuiOutlinedInput-notchedOutline {
      border-color: $lineGray;
      border-radius: 12px;
    }
  }
  .MuiFormControl-root {
    width: 100%;
  }
  .MuiTextField-root.error {
    .MuiInputBase-root {
      .MuiOutlinedInput-notchedOutline {
        border-color: $error;
      }
    }
  }
  .Mui-focused {
    .MuiOutlinedInput-notchedOutline {
      border-color: $primary;
      border-width: 1px;
    }
  }
  .MuiInputAdornment-root {
    z-index: 9;
    background-color: white;
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: flex-end;
  }
  .sd:hover {
    background-color: white;
    color: $black !important;
  }
}

.MuiButtonBase-root {
  &.Mui-checked {
    color: $main !important;
  }
}

#multiDatePicker {
  .rmdp-day {
    &:hover {
      background-color: red !important;
    }
  }
  .rmdp-day span {
    &:hover {
      background-color: red;
    }
  }
  .rmdp-input {
    background-color: transparent;
    height: 42px;
    border-radius: 10px;
  }
}
